
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WEB Trader</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" type="text/css" href="~/AdminLTE/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE/dist/css/admin-lte.css">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE/dist/css/skins/skin-blue.css">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE/plugins/ionicons/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="~/AdminLTE/plugins/font-awesome/css/font-awesome.css">
    <link href="~/AdminLTE/alert/iao-alert.css" rel="stylesheet" />
    <link href="~/AdminLTE/alert/jquery-confirm.css" rel="stylesheet" />
    <style>
        .skin-blue-light .main-header .navbar {
            background-color: #1d768c !important;
        }

        .skin-blue-light .main-header .logo:hover {
            background-color: #1d768c !important;
        }

        .logo {
            background-color: #1d768c !important;
        }
    </style>
</head>
<body class="fixed hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>W</b>eb</span>
                <span class="logo-lg"><b>WEB Trader </b>Indicater</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar fixed">
            <section class="sidebar">

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="left-sidebar-menu-dashboard" class="treeview">
                        <a href="@Url.Action("Index", "Report")">
                            <i class="fa fa-dashboard"></i> <span>View Reports</span>
                        </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li id="left-sidebar-menu-dashboard" class="treeview">
                            <a href="@Url.Action("Upload", "Report")">
                                <i class="fa fa-dashboard"></i> <span>Upload Reports</span>
                            </a>
                        </li>
                    }

                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <br /><br />
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyrights | WEB Trader | &copy; 2018 <a href="http://www.google.com/">Group Web-Trader</a> |</strong> All rights
            reserved.
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript::;" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>

    @RenderSection("menu", required: false)

    <script src="~/AdminLTE/bootstrap/js/bootstrap.js"></script>
    <script src="~/AdminLTE/plugins/slimscroll/js/jquery.slimscroll.js"></script>
    <script src="~/AdminLTE/plugins/fastclick/js/fastclick.js"></script>
    <script src="~/AdminLTE/dist/js/app.js"></script>
    <script src="~/AdminLTE/plugins/jquery/js/jQuery-2.1.4.min.js"></script>

    @RenderSection("scripts", required: false)
    <script src="~/AdminLTE/alert/iao-alert.jquery.js"></script>
    <script src="~/AdminLTE/alert/jquery-confirm.js"></script>

</body>
</html>
